/* Estilo para la imagen con clase "foto" */
.foto img {
    width: 20%; /* Cambia el ancho según tus necesidades */
    height: auto; /* Mantén la proporción original de la imagen */
}
.Contenedor6imagenes {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    /* Margen para centrar el contenedor horizontalmente */
    max-width: 600px;
    /* Ancho máximo del contenedor */
    max-height: 300px;
    border: 1px solid #ddd;
    /* Borde alrededor del contenedor */
    flex-wrap: wrap;
    /* Añadir esto para que las imágenes se ajusten en filas */
    margin-top: 20px;
}